<div class="home-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-2"><br><br>

        <% @years.uniq.each do |year| %>
          <div class= "col-sm-5 card-year">
            <% album = Album.where('extract(year from date) = ?', year).last %>
            <%= link_to album_path(album, 1) do %>
              <%= year %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
