/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  display: none;
}
.alert-warning {
  background-color: transparent;
  border: transparent;
  color: black;
}
